.formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.formulario__div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formulario input,
.input__options {
    padding: 15px;
    border-radius: 4px;
    border: 2px solid var(--cinza-1);
}
