.rodape {
    background-color: var(--azul);
    color: var(--branco);
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.contatos {
    display: flex;
    gap: 10px;
}

.contatos a {
    color: var(--cinza-1);
}
