.tabela {
    border: 2px solid var(--cinza-2);
    border-radius: 4px;
    margin: 20px 0;
    width: 100%;
    padding: 20px 10px;
}

.tabela thead {
    background-color: var(--cinza-2);
    color: var(--branco);
}

.tabela tbody tr:nth-child(2n) {
    background-color: var(--cinza-0);
}

.tabela th {
    border-radius: 4px;
    padding: 5px 20px;
}

.tabela td {
    text-align: center;
}

@media (max-width: 1100px) {
    .tabela__acoes {
        display: flex;
        flex-direction: column;
    }

    .tabela__acoes button {
        width: calc(100% - 10px);
    }
}

@media (max-width: 800px) {
    .tabela thead {
        display: none;
    }

    .tabela tbody td {
        display: flex;
        flex-direction: column;
    }

    .tabela__acoes button {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .tabela__acoes button {
        width: 100%;
    }
}
